
@using Microsoft.AspNetCore.Identity


@model CA3_TATJ_V2.ViewModels.PostListViewModel
@{
    ViewData["Title"] = "View";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div>
    <h1>Welcome  @User.Identity.Name</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm- border-top border-bottom">


            <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Create">Make a Post</a>
        </div>
        <div class="col-sm border-top border-bottom">
            <div class="text-center">
                <h3>Your Posts</h3>
            </div>

            @foreach (var post in Model.Posts)
            {

                @if (@User.Identity.Name == @post.userName)
                {
                    <partial name="_DisplayPostPartial" model="post" />
                }

            }
        </div>
    </div>
</div>








