@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron">
    <h1 class="display-3">Welcome to Gamebook!</h1>
    <p class="lead">We are very happy to see you have found our web app. We hope you have a great time here.</p>
    <hr class="my-2">
    <p>This is the cool reddit for those that like games!</p>

</div>
