@model CA3_TATJ_V2.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postHeader" class="control-label"></label>
                <input asp-for="postHeader" class="form-control" />
                <span asp-validation-for="postHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postContent" class="control-label"></label>
                <input asp-for="postContent" class="form-control" />
                <span asp-validation-for="postContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postDate" class="control-label"></label>
                <input asp-for="postDate" class="form-control" />
                <span asp-validation-for="postDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
