@model CA3_TATJ_V2.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<div class="alert alert-danger" role="alert">
    <h3>Are you sure you want to <strong>permanently</strong> delete this post?</h3>
</div>
<div>   
    <form asp-action="Delete">
        <input type="hidden" asp-for="postId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
